body{
    background-color: black;
}

#clockContainer{
    height: 40vw;
    width: 40vw;
    background-size: 100%;
    margin: 30px auto;
    position: relative;
    filter: invert(1);
}


#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
    /* to define the point of rotation */
}

#hour{
    width: 2%;
    height: 23%;
    top: 27%;
    left: 49.025%;
    z-index: 0;
    background-color: yellow;
}

#minute{
    width: 1.25%;
    height: 26%;
    top: 23.9%;
    left: 49.45%;
    z-index: 1;
    background-color: blue;
    
}

#second{
    width: 0.5%;
    height: 34%;
    top: 16%;
    left: 49.75%;
    z-index: 2;
    background-color: cyan;
}

#footer{
    left: 0;
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    text-shadow: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 6px;
    opacity: 0.8;
    font-weight: bold;
    border-top: 3px solid grey;
}
#footer a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(21, 56, 255);
}
#footer a img{
    height: .8rem;
}

@media only screen and (max-width: 600px) {
    #clockContainer{
        height: 75vw;
        width: 75vw;
    }
    #footer{
        font-size: 13px;
    }
}