*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    padding: 5px 10px;
    box-shadow: 0 0 15px 6px orange;
    display: inline-block;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.11);
    font-family: cursive;
}


.header {
    text-align: center;
    padding-top: 15px;
    margin: 0 5px;
}

#clockContainer{
    height: 40vw;
    width: 40vw;
    background-size: 100%;
    margin: 30px auto;
    position: relative;
    filter: invert(1);
}


#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
    /* to define the point of rotation */
}

#hour{
    width: 2%;
    height: 23%;
    top: 27%;
    left: 49.025%;
    z-index: 0;
    background-color: yellow;
}

#minute{
    width: 1.25%;
    height: 26%;
    top: 23.9%;
    left: 49.45%;
    z-index: 1;
    background-color: blue;
}

#second{
    width: 0.5%;
    height: 34%;
    top: 16%;
    left: 49.75%;
    z-index: 2;
    background-color: cyan;
}

#circle{
    position: absolute;
    width: 4%;
    height: 4%;
    background-color: black;
    border-radius: 5rem;
    top: 48%;
    left: 48.25%;
    z-index: 500;
    border: 2px solid #3255e4;
}

#footer{
    left: 0;
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    text-shadow: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 6px 3px;
    opacity: 0.8;
    font-weight: bold;
    border-top: 3px solid grey;
	border-radius: 3vmin 3vmin 0 0;
}
#footer a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(21, 56, 255);
}
#footer a img{
    height: .8rem;
}

@media only screen and (max-width: 600px) {
    #clockContainer{
        height: 75vw;
        width: 75vw;
    }
    #footer{
        font-size: 13px;
    }
    h1{
        font-size: 20px;
    }
}